*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans TC", "PingFang SC", "Microsoft YaHei", "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
}